In [1]:
import sklearn
import scipy as sci
import matplotlib as plt
%matplotlib inline
import matplotlib.pyplot as plt
import datetime
import numpy as np
import pandas as pd
import statsmodels
import bokeh
import sympy
import requests
import blaze
import seaborn as sns
sns.set(color_codes=True)
#from auto_ml import Predictor
#from auto_ml.utils_models import load_ml_model

# suppress warning messages
import warnings
warnings.filterwarnings("ignore")

#import warnings

#def fxn():
#    warnings.warn("deprecated", DeprecationWarning)

#with warnings.catch_warnings():
#    warnings.simplefilter("ignore")
#    fxn()

/Users/nanaakwasiabayieboateng/anaconda/lib/python3.5/site-packages/odo/backends/pandas.py:102: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access NaTType as type(pandas.NaT)
  @convert.register((pd.Timestamp, pd.Timedelta), (pd.tslib.NaTType, type(None)))

In [2]:
creditcard=pd.read_csv("/Users/nanaakwasiabayieboateng/Documents/memphisclassesbooks/DataMiningscience/H20/creditcard.csv")
creditcard.head()

hrdata=pd.read_excel("/Users/nanaakwasiabayieboateng/Documents/memphisclassesbooks/DataMiningscience/WA_Fn-UseC_-HR-Employee-Attrition.xlsx")

bankdata2=pd.DataFrame.from_csv("/Users/nanaakwasiabayieboateng/Documents/memphisclassesbooks/DataMiningscience/Anomalydetection/bank/bank-full.csv", sep=';')

bankdata2.head()

,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
age,,,,,,,,,,,,,,,,
58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no